body {
	margin: 0 auto;
	width: 30%;
	background-color: #a5b1c2;
	color: #eb3b5a;
	text-align: left;
}
h2 {
	font-style: italic;
}
p {
	margin: 0;
	padding: 10px;
	font-size: 20px;
	font-style: italic;
}